@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

*{
  font-family: "Montserrat", serif;
}

body {
  max-width: 375px !important;
  margin: 0 auto !important;
  overflow-x: hidden !important;
  text-align: center !important;
}

.back-button h3 {
  color: #000000;
  margin: 13px 40px;
  font-weight: 700;
  font-size: 0.9rem;
}

.history-content-container {
  height: 100vh;
}

.history-content-button {
  margin: 20px 40px;
}

button {
  border: none;
  width: 100%;
  border-radius: 20px;
  padding: 12px 0px;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: 600;
  background-color: #152B49;
}

